@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: hidden;
  box-shadow: 10px 10px 5px #1c1c1c;
}
body {
  font-size: 22px;
  margin-left: 17px;
  font-family: 'Shadows Into Light', cursive;
  background-color: black;
}
h1 {
  margin-left: 20px;
  font-family: 'Shadows Into Light', cursive;
  color: white;
}
h2 {
  margin-left: 50px;
}
h3 {
  margin-left: 20px;
  font-family: 'Shadows Into Light', cursive;
}
h4 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 16px;
  font-family: 'Shadows Into Light', cursive;
}
h5 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 15px;
  font-family: 'Shadows Into Light', cursive;
}
p {
  font-family: 'Shadows Into Light', cursive;
  margin-left: 20px;
  font-size: 21px;
}
aside{
  border-style: dotted;
  border-color: grey;
  font-family: 'Shadows Into Light', cursive;
  width: 350px;
  border-width: 2px;
  background-image: url("../Images/texturebackground.jpg");
  background-size: 20vh 40vw;
  color: white;
  margin-left: 40%;
}
section{
  border-style: dotted;
  padding: 5px;
  border-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background-image: url("../Images/texturebackground.jpg");
  background-size: 50vw 200vh;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
footer{
  border-style: dotted;
  padding: 5px;
  border-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
#text{
  color: white;
}
#black-text{
  color: black;
}
