@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
  /* background-color: white; */
  font-size: 22px;
  margin-left: 17px;
  font-family: 'Shadows Into Light', cursive;
  background-image: url("../Images/texturebackground.jpg");
  background-repeat: repeat;
}
h1 {
  color: orange;
  margin-left: 20px;
  font-family: 'Shadows Into Light', cursive;
}
h2 {
  margin-left: 50px;
}
h3 {
  margin-left: 20px;
  font-family: 'Shadows Into Light', cursive;
}
h4 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 16px;
  font-family: 'Shadows Into Light', cursive;
}
h5 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 15px;
  font-family: 'Shadows Into Light', cursive;
}
p {
  font-family: 'Shadows Into Light', cursive;
  margin-left: 20px;
  font-size: 21px;
}
header{
  border-style: dotted;
  border-color: grey;
  font-family: 'Shadows Into Light', cursive;
  width: 250px;
}
aside{
  border-style: dotted;
  border-color: grey;
  font-family: 'Shadows Into Light', cursive;
  width: 350px;
}
section{
  border-style: dotted;
  border-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
